@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.hero-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.button-1{
  background-color: #3882f6;
  padding: 10px 40px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.container{
  background-color: #330c05;
  padding: 25px 25px;
  padding-bottom: 200px;
}



ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-right: 200px;
  font-size: 18px;
  
}

.container-2__text{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 900;
}

.left-nav a{
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding-left: 400px;
  font-size: 25px;
}

.right-nav a{
  color: #e7e7eb;
  
}

.container-2{
  padding-bottom: 100px;
  
}

.hero-title-container{
  max-width: 400px;
  margin-left: 400px;
  margin-top: 100px;
  
}

img{
  margin-top: 120px;
  margin-right: 300px;
}

.title{
  color: white;
  font-size: 48px;
}
.brief{
  color: rgb(245, 236, 236);
}

.border-container{
  border: 5px solid #3882f6;
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.parent-of-borders{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.column{
  display: flex;
  flex-direction: column;

}

.container-3{
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote{
  font-size: 36px;
  max-width: 700px;
  color: #1F2937;
  font-weight: 300;
}

.container-4{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up{
  background-color: #3882f6;
  height: 150px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  color: white;
  border-radius: 20px;
}

.button-1:hover{
  background-color: #3881f669 ;
  cursor: pointer;
}
.button-2:hover{
  background-color: #4e79bd69 ;
  cursor: pointer;
}

.button-2{
  background-color: #3882f6;
  padding: 10px 50px;
  border: white 3px solid;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
}

.container-4-text{
  font-size: 20px;
  font-weight: 600;
  
}